@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    flex: 1 1 20%;
    font-size: 0.9em;
    height: 63px;
	  text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 0 3px hsl(28, 16%, 65%);
    transition: 0.4s;
  }

  button:hover {
    opacity: 0.9;
  }

  #Reset_btn, #Delete_btn {
    box-shadow: 0 3px hsl(224, 28%, 35%);
  }

  #Equal_btn {
    box-shadow: 0 3px hsl(6, 70%, 34%);
  }

  #Keypad {
    flex-flow: row wrap;
  }
}
